<div if="isAddressDetailsVisible() && currentBillingAddress()">
    <p data-bind="i18n: 'Billing address associated with this payment method:'"></p>
    <p class="billing-address-details">
        <text args="currentBillingAddress().prefix"/> <text args="currentBillingAddress().firstname"/> <text args="currentBillingAddress().middlename"/>
        <text args="currentBillingAddress().lastname"/> <text args="currentBillingAddress().suffix"/><br/>
        <text args="_.values(currentBillingAddress().street).join(', ')"/><br/>
        <text args="currentBillingAddress().city "/>, <span text="currentBillingAddress().region"></span> <text args="currentBillingAddress().postcode"/><br/>
        <text args="getCountryName(currentBillingAddress().countryId)"/><br/>
        <!-- ko if: currentBillingAddress().telephone -->
            <a attr="'href': 'tel:' + currentBillingAddress().telephone" text="currentBillingAddress().telephone"></a><br/>
        <!-- /ko -->

        <each args="data: currentBillingAddress().customAttributes, as: 'element'">
            <text args="$parent.getCustomAttributeLabel(element)"/>
            <br/>
        </each>
    </p>

    <div class="amazon-payment-action-container">
        <button if="isAddressEditable"
                class="action action-edit-address"
                type="button"
                click="editAddress">
            <span translate="'Edit Billing Address'"></span>
        </button>
    </div>
</div>
