<?xml version="1.0"?>
<!--
/**
 * Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License").
 * You may not use this file except in compliance with the License.
 * A copy of the License is located at
 *
 *  http://aws.amazon.com/apache2.0
 *
 * or in the "license" file accompanying this file. This file is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 * express or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <region>
            <country>
                <us>https://payments.amazon.com/overview</us>
                <uk>https://payments.amazon.co.uk/overview</uk>
                <de>https://payments.amazon.de/overview</de>
                <jp>https://payments.amazon.co.jp/overview</jp>
            </country>
        </region>
        <multicurrency>
            <regions>uk,de</regions>
            <currencies>AUD,GBP,DKK,EUR,HKD,JPY,NZD,NOK,ZAR,SEK,CHF,USD</currencies>
        </multicurrency>
        <client>
            <paths>
                <secretkey>secret_key</secretkey>
                <accesskey>access_key</accesskey>
                <merchantid>merchant_id</merchantid>
                <clientid>client_id</clientid>
                <clientsecret>client_secret</clientsecret>
                <amazonregion>region</amazonregion>
                <amazonsandbox>sandbox</amazonsandbox>
            </paths>
        </client>
        <widget>
            <production>
                <de>https://static-eu.payments-amazon.com/OffAmazonPayments/de/lpa/js/Widgets.js?nomin</de>
                <uk>https://static-eu.payments-amazon.com/OffAmazonPayments/uk/lpa/js/Widgets.js?nomin</uk>
                <us>https://static-na.payments-amazon.com/OffAmazonPayments/us/js/Widgets.js?nomin</us>
                <jp>https://static-fe.payments-amazon.com/OffAmazonPayments/jp/lpa/js/Widgets.js?nomin</jp>
            </production>
            <sandbox>
                <de>https://static-eu.payments-amazon.com/OffAmazonPayments/de/sandbox/lpa/js/Widgets.js?nomin</de>
                <uk>https://static-eu.payments-amazon.com/OffAmazonPayments/uk/sandbox/lpa/js/Widgets.js?nomin</uk>
                <us>https://static-na.payments-amazon.com/OffAmazonPayments/us/sandbox/js/Widgets.js?nomin</us>
                <jp>https://static-fe.payments-amazon.com/OffAmazonPayments/jp/sandbox/lpa/js/Widgets.js?nomin</jp>
            </sandbox>
        </widget>
        <customer>
            <address>
                <street_lines>3</street_lines>
            </address>
        </customer>
    </default>
</config>
