<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="Amazon_Core" setup_version="2.1.3">
        <sequence>
            <module name="Magento_Store"/>
            <module name="Magento_Customer"/>
            <module name="Magento_Payment"/>
            <module name="Magento_Checkout"/>
            <module name="Magento_Catalog"/>
            <module name="Magento_Quote"/>
        </sequence>
    </module>
</config>
