<div class="actions-toolbar">
    <div class="primary">
        <button class="action action-update"
                type="button"
                click="updateAddress">
            <span translate="'Update'"/>
        </button>
        <button class="action action-cancel"
                type="button"
                click="cancelAddressEdit"
                visible="canUseCancelBillingAddress()">
            <span translate="'Cancel'"/>
        </button>
        <button class="action action-edit-address"
                type="button"
                click="editAddress">
            <span translate="'Edit'"></span>
        </button>
    </div>
</div>
