<div if="currentBillingAddress()" class="billing-address-details">
    <text args="currentBillingAddress().prefix"/> <text args="currentBillingAddress().firstname"/> <text args="currentBillingAddress().middlename"/>
    <text args="currentBillingAddress().lastname"/> <text args="currentBillingAddress().suffix"/><br/>
    <text args="_.values(currentBillingAddress().street).join(', ')"/><br/>
    <text args="currentBillingAddress().city "/>, <span text="currentBillingAddress().region"></span> <text args="currentBillingAddress().postcode"/><br/>
    <text args="getCountryName(currentBillingAddress().countryId)"/><br/>
    <!-- ko if: currentBillingAddress().telephone -->
        <a attr="'href': 'tel:' + currentBillingAddress().telephone" text="currentBillingAddress().telephone"></a><br/>
    <!-- /ko -->

    <each args="data: currentBillingAddress().customAttributes, as: 'element'">
        <text args="$parent.getCustomAttributeLabel(element)"/>
        <br/>
    </each>

    <button class="action action-edit-address"
            type="button"
            click="editAddress">
        <span translate="'Edit'"></span>
    </button>
    <br/><br/>
</div>
