<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Amazon\Payment\Block\Minicart\Button">
        <arguments>
            <argument name="data" xsi:type="array">
                <item name="template" xsi:type="string">Amazon_Payment::minicart-button.phtml</item>
                <item name="alias" xsi:type="string">amazon.button.mini-cart</item>
            </argument>
            <argument name="payment" xsi:type="object">Amazon\Payment\Gateway\Config\Config</argument>
        </arguments>
    </type>
    <type name="Magento\Checkout\Block\Checkout\LayoutProcessor">
        <plugin name="amazon_payment_checkout_processor" type="Amazon\Payment\Plugin\CheckoutProcessor" />
    </type>
</config>