<?xml version="1.0"?>
<!--
/**
 * Copyright © Amazon.com, Inc. or its affiliates. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License").
 * You may not use this file except in compliance with the License.
 * A copy of the License is located at
 *
 *  http://aws.amazon.com/apache2.0
 *
 * or in the "license" file accompanying this file. This file is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 * express or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="amazon_pay" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                <label><![CDATA[<div class="amazon-pay-logo"></div><div class="amazon-payment-byline"><strong>Amazon Pay for Magento</strong>Enable a familiar, fast checkout for hundreds of millions of active Amazon customers globally.</div>]]></label>
                <fieldset_css>complex amazon-pay-section</fieldset_css>
                <frontend_model>Magento\Paypal\Block\Adminhtml\System\Config\Fieldset\Payment</frontend_model>
                <field id="autokeyexchange" type="text" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>Amazon\Pay\Block\Adminhtml\System\Config\Form\AutoKeyExchangeConfig</frontend_model>
                </field>
                <group id="credentials" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Credentials</label>
                    <field id="active_v2" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Amazon Pay</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amazon_payment_v2/active</config_path>
                    </field>
                    <field id="private_key_pem" translate="label comment" type="Amazon\Pay\Model\Config\File\PemFile" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Private Key</label>
                        <config_path>payment/amazon_payment_v2/private_key</config_path>
                        <backend_model>Amazon\Pay\Model\Config\File\PrivateKeyPem</backend_model>
                        <upload_dir config="system" scope_info="1">amazon</upload_dir>
                        <comment><![CDATA[<a href="#" class="amazon-private-key-change-key-type">Change Private Key input method]]></comment>
                    </field>
                    <field id="private_key_text" translate="label comment" type="textarea" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Private Key</label>
                        <config_path>payment/amazon_payment_v2/private_key</config_path>
                        <frontend_model>Amazon\Pay\Model\Config\Form\Privatekey</frontend_model>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <validate>validate-private-key</validate>
                        <comment><![CDATA[<a href="#" class="amazon-private-key-change-key-type">Change Private Key input method]]></comment>
                    </field>
                    <field id="private_key_selected" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Private Key Selected</label>
                        <config_path>payment/amazon_payment_v2/private_key_selected</config_path>
                        <frontend_model>Amazon\Pay\Model\Config\Form\PrivateKeySelected</frontend_model>
                    </field>
                    <field id="private_key_selector" translate="label comment" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Private Key</label>
                        <frontend_model>Amazon\Pay\Block\Adminhtml\System\Config\Form\PrivateKeySelector</frontend_model>
                    </field>
                    <field id="public_key_id" translate="label comment" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Public Key ID</label>
                        <config_path>payment/amazon_payment_v2/public_key_id</config_path>
                        <validate>validate-amzn-public-key-id</validate>
                        <depends><field id="active_v2">1</field></depends>
                    </field>
                    <field id="merchant_id_v2" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Merchant Id</label>
                        <config_path>payment/amazon_payment_v2/merchant_id</config_path>
                        <depends><field id="active_v2">1</field></depends>
                    </field>
                    <field id="store_id" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Store Id</label>
                        <comment><![CDATA[Referred as clientId in SellerCentral.]]></comment>
                        <config_path>payment/amazon_payment_v2/store_id</config_path>
                        <validate>validate-amzn-store-id</validate>
                        <depends><field id="active_v2">1</field></depends>
                    </field>
                    <field id="payment_region" translate="label" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Region</label>
                        <source_model>Amazon\Pay\Model\Config\Source\PaymentRegion</source_model>
                        <config_path>payment/amazon_payment/payment_region</config_path>
                        <depends><field id="active_v2">1</field></depends>
                    </field>
                    <field id="sandbox" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sandbox</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amazon_payment/sandbox</config_path>
                        <depends><field id="active_v2">1</field></depends>
                    </field>
                    <field id="ipn_url_v2" type="note" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>IPN URL</label>
                        <frontend_model>Amazon\Pay\Block\Adminhtml\System\Config\Form\IpnUrl</frontend_model>
                        <comment><![CDATA[Add this url in SellerCentral to enable IPN.]]></comment>
                        <depends><field id="active_v2">1</field></depends>
                    </field>
                </group>
                <group id="options" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Options</label>
                    <field id="v2_lwa_enabled" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Amazon Sign-in</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amazon_payment_v2/lwa_enabled</config_path>
                        <comment><![CDATA[Please note that if Amazon Sign-in is disabled and Magento Guest Checkout is disabled, the customer will be able to use Amazon Pay only if already signed in with a Magento account]]></comment>
                    </field>
                    <field id="payment_action_v2" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Action</label>
                        <source_model>Amazon\Pay\Model\Config\Source\PaymentAction</source_model>
                        <config_path>payment/amazon_payment_v2/payment_action</config_path>
                    </field>
                    <field id="multicurrency" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Use Multi-currency</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amazon_payment/multicurrency</config_path>
                        <comment><![CDATA[Amazon Pay currently supports multi-currency only for UK and EU endpoints. Currencies supported include: AUD, GBP, DKK, EUR, HKD, JPY, NZD, NOK, ZAR, SEK, CHF USD.]]></comment>
                    </field>
                    <field id="authorization_mode" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Authorization Mode</label>
                        <source_model>Amazon\Pay\Model\Config\Source\AuthorizationMode</source_model>
                        <config_path>payment/amazon_payment/authorization_mode</config_path>
                    </field>
                </group>
                <group id="alexa" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Alexa Delivery Notifications</label>
                    <field id="active" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Alexa Delivery Notifications</label>
                        <comment><![CDATA[Once enabled, Amazon Pay will deliver Alexa Delivery Notifications to the customer’s Alexa device, when the order is ‘out for delivery' and when it’s 'delivered'. Click <a href="https://developer.amazon.com/docs/amazon-pay-onetime/delivery-notifications.html#heres-what-your-customer-will-experience" target="_blank">here</a> for the customer experience and <a href="https://eps-eu-external-file-share.s3.eu-central-1.amazonaws.com/Alexa/Delivery+Notifications/amazon-pay-delivery-tracker-supported-carriers-v2.csv" target="_blank">here</a> for the supported carriers.]]></comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amazon_payment_v2/alexa_active</config_path>
                    </field>
                    <field id="carrier_codes" translate="label comment" sortOrder="10" showInDefault="1" showInStore="1" showInWebsite="1">
                        <label>Carrier Codes</label>
                        <comment><![CDATA[This option allows to map carriers from your shop to the Amazon Pay predefined carriers. Please use the Carrier codes form by selecting your available carriers and assign them to the matching one in the Amazon Pay carrier list.]]></comment>
                        <frontend_model>Amazon\Pay\Block\Adminhtml\System\Config\Form\CarrierCodes</frontend_model>
                        <backend_model>Magento\Config\Model\Config\Backend\Serialized\ArraySerialized</backend_model>
                        <config_path>payment/amazon_payment_v2/alexa_carrier_codes</config_path>
                        <depends>
                            <field id="active">1</field>
                        </depends>
                    </field>
                </group>
                <group id="advanced" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Advanced</label>
                    <field id="version_v2" type="text" translate="label comment" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                        <frontend_model>Amazon\Pay\Block\Adminhtml\System\Config\Form\Version</frontend_model>
                    </field>
                    <group id="frontend" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Frontend</label>
                        <field id="display_language" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Button Display Language</label>
                            <config_path>payment/amazon_pay/button_display_language</config_path>
                            <comment><![CDATA[Controls button and checkout language. The default value is your shop’s locale. Supported options are en_GB, de_DE, fr_FR, it_IT, or es_ES.]]></comment>
                            <validate>validate-amzn-display-language</validate>
                        </field>
                        <field id="button_color_v2" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Button Color</label>
                            <config_path>payment/amazon_payment_v2/button_color</config_path>
                            <source_model>Amazon\Pay\Model\Config\Source\ButtonColor</source_model>
                        </field>
                        <field id="pwa_pp_button_is_visible" translate="label" type="select" sortOrder="70" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Show Amazon Pay button on product page</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/amazon_payment/pwa_pp_button_is_visible</config_path>
                        </field>
                        <field id="minicart_button_is_visible" translate="label comment" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Show Amazon Pay button in minicart</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/amazon_payment/minicart_button_is_visible</config_path>
                        </field>
                        <field id="amazonloggin" translate="label comment" type="select" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Show Amazon Pay in payment methods</label>
                            <comment><![CDATA[If enabled, Amazon Pay is presented as an option in the list of available payment methods during the final step of checkout.]]></comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/amazonlogin/active</config_path>
                        </field>
                        <field id="sort_order" translate="label comment" type="text" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Sort Order</label>
                            <frontend_class>validate-number</frontend_class>
                            <config_path>payment/amazon_payment_v2/sort_order</config_path>
                            <depends>
                                <field id="amazonloggin">1</field>
                            </depends>
                        </field>
                    </group>
                    <group id="sales_options" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Sales Options</label>
                        <field id="storename" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="1">
                            <label>Store Name</label>
                            <config_path>payment/amazon_payment/storename</config_path>
                        </field>
                        <field id="restrict_categories" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                            <label>Restrict Product Categories</label>
                            <config_path>payment/amazon_payment_v2/restrict_categories</config_path>
                            <frontend_model>Amazon\Pay\Block\Adminhtml\System\Config\Form\RestrictCategories</frontend_model>
                        </field>
                    </group>
                    <group id="shipping_restrictions" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Shipping Restrictions</label>
                        <field id="po_boxes" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Restrict PO Boxes</label>
                            <comment><![CDATA[Marks PO box addresses in US, CA, GB, FR, DE, ES, PT, IT, AU as restricted]]></comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/amazon_payment_v2/shipping_restrict_po_boxes</config_path>
                        </field>
                        <field id="packstations" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Restrict Packstations</label>
                            <comment><![CDATA[Marks packstation addresses in DE as restricted]]></comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/amazon_payment_v2/shipping_restrict_packstations</config_path>
                        </field>
                    </group>
                    <group id="extra_options" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Developer Options</label>
                        <field id="logging" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="0" showInStore="0">
                            <label>Logging</label>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/amazon_payment/logging</config_path>
                        </field>
                        <field id="loglist_v2" translate="label" type="text" sortOrder="11" showInDefault="1" showInWebsite="0" showInStore="0">
                            <label>Developer Logs</label>
                            <depends>
                                <field id="logging">1</field>
                            </depends>
                            <frontend_model>Amazon\Pay\Block\Adminhtml\System\Config\Form\DeveloperLogs</frontend_model>
                        </field>
                        <field id="checkout_review_return_url" translate="label comment" type="text" sortOrder="18" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Amazon checkout review return URL</label>
                            <comment><![CDATA[<strong>Amazon Pay Checkout could potentially break if this value is modified. Do it only if it is needed by your website.</strong><br />Amazon Pay will redirect to this URL after the buyer selects their preferred payment instrument and shipping address. Do not use a leading slash.]]></comment>
                            <config_path>payment/amazon_payment_v2/checkout_review_return_url</config_path>
                        </field>
                        <field id="checkout_review_url" translate="label comment" type="text" sortOrder="19" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Magento Checkout URL Path</label>
                            <comment><![CDATA[<strong>Amazon Pay Checkout could potentially break if this value is modified. Do it only if it is needed by your website.</strong><br />Magento redirect to this URL after processing the Amazon session initiation, where checkout happens. Do not use a leading slash.]]></comment>
                            <config_path>payment/amazon_payment_v2/checkout_review_url</config_path>
                        </field>
                        <field id="checkout_result_return_url" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Amazon checkout result return URL</label>
                            <comment><![CDATA[<strong>Amazon Pay Checkout could potentially break if this value is modified. Do it only if it is needed by your website.</strong><br />Amazon Pay will redirect to this URL after initiating the transaction. Do not use a leading slash.]]></comment>
                            <config_path>payment/amazon_payment_v2/checkout_result_return_url</config_path>
                        </field>
                        <field id="checkout_result_url" translate="label comment" type="text" sortOrder="21" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Magento Checkout result URL Path</label>
                            <comment><![CDATA[<strong>Amazon Pay Checkout could potentially break if this value is modified. Do it only if it is needed by your website.</strong><br />Magento will redirect to this URL after completing the checkout session. Do not use a leading slash.]]></comment>
                            <config_path>payment/amazon_payment_v2/checkout_result_url</config_path>
                        </field>
                        <field id="allowed_ips_v2" translate="label comment" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Allowed IPs</label>
                            <comment><![CDATA[Comma separated. The “Amazon Pay" button will only be rendered for clients having the above IPs. If the field is empty, the buttons will be visible to all clients.]]></comment>
                            <config_path>payment/amazon_payment_v2/allowed_ips</config_path>
                            <backend_model>Magento\Developer\Model\Config\Backend\AllowedIps</backend_model>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
