<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <amazonlogin>
                <active>0</active>
                <model>Amazon\Payment\Model\Method\AmazonLoginMethod</model>
                <order_status>pending</order_status>
                <title>Amazon Pay</title>
                <allowspecific>0</allowspecific>
            </amazonlogin>
            <amazon_payment>
                <active>0</active>
                <is_gateway>1</is_gateway>
                <title>Amazon Pay</title>
                <sort_order>1</sort_order>
                <model>AmazonFacade</model>
                <order_status>processing</order_status>
                <payment_action>authorize</payment_action>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_refund>1</can_refund>
                <can_use_checkout>1</can_use_checkout>
                <packstation_terms>Packstation,Pack-Station,Pack Station,PO Box,Post Office box,Locker</packstation_terms>
                <lwa_enabled>0</lwa_enabled>
                <authorization_mode>synchronous</authorization_mode>
                <update_mechanism>polling</update_mechanism>
                <pwa_pp_button_is_visible>1</pwa_pp_button_is_visible>
                <minicart_button_is_visible>1</minicart_button_is_visible>
                <button_type>full</button_type>
                <button_color>Gold</button_color>
                <button_size>medium</button_size>
                <logging>1</logging>
                <platform_id>AUGT0HMCLQVX1</platform_id>
                <hard_decline_code>4273</hard_decline_code>
                <soft_decline_code>7638</soft_decline_code>
            </amazon_payment>
        </payment>
    </default>
</config>
