<?xml version="1.0"?>
<!--
/**
 * Copyright 2016 Amazon.com, Inc. or its affiliates. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License").
 * You may not use this file except in compliance with the License.
 * A copy of the License is located at
 *
 *  http://aws.amazon.com/apache2.0
 *
 * or in the "license" file accompanying this file. This file is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 * express or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_load_after">
        <observer name="amazon_payment_load_order" instance="Amazon\Payment\Observer\LoadOrder" />
    </event>
    <event name="amazon_payment_authorize_before">
        <observer name="amazon_payment_sandbox_simulation_authorization" instance="Amazon\Payment\Observer\SandboxSimulation" />
    </event>
    <event name="amazon_payment_capture_before">
        <observer name="amazon_payment_sandbox_simulation_capture" instance="Amazon\Payment\Observer\SandboxSimulation" />
    </event>
    <event name="amazon_payment_refund_before">
        <observer name="amazon_payment_sandbox_simulation_refund" instance="Amazon\Payment\Observer\SandboxSimulation" />
    </event>
    <event name="payment_method_assign_data_amazon_payment">
        <observer name="amazon_payment_gateway_data_assign" instance="Amazon\Payment\Observer\DataAssignObserver" />
    </event>
    <event name="checkout_submit_before">
        <observer name="amazon_payment_ignore_billing_address_validation" instance="Amazon\Payment\Observer\IgnoreBillingAddressValidation" />
    </event>
    <event name="amazon_payment_pending_authorization_soft_decline_after">
        <observer name="amazon_payment_soft_decline_email" instance="Amazon\Payment\Observer\SoftDeclinedEmailSender" />
    </event>
    <event name="amazon_payment_pending_authorization_hard_decline_after">
        <observer name="amazon_payment_hard_decline_email" instance="Amazon\Payment\Observer\HardDeclinedEmailSender" />
    </event>
</config>
