<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_convert_quote_to_order">
        <observer name="amazon_payment_confirm_order" instance="Amazon\Payment\Observer\ConfirmOrder" />
    </event>
    <event name="sales_order_save_after">
        <observer name="amazon_payment_copy_order_reference" instance="Amazon\Payment\Observer\CopyOrderReference" />
    </event>
    <event name="sales_order_load_after">
        <observer name="amazon_payment_load_order" instance="Amazon\Payment\Observer\LoadOrder" />
    </event>
    <event name="amazon_payment_authorize_before">
        <observer name="amazon_payment_sandbox_simulation_authorization" instance="Amazon\Payment\Observer\SandboxSimulation" />
    </event>
    <event name="amazon_payment_capture_before">
        <observer name="amazon_payment_sandbox_simulation_capture" instance="Amazon\Payment\Observer\SandboxSimulation" />
    </event>
    <event name="amazon_payment_refund_before">
        <observer name="amazon_payment_sandbox_simulation_refund" instance="Amazon\Payment\Observer\SandboxSimulation" />
    </event>
    <event name="checkout_submit_before">
        <observer name="amazon_payment_ignore_billing_address_validation" instance="Amazon\Payment\Observer\IgnoreBillingAddressValidation" />
    </event>
    <event name="amazon_payment_pending_authorization_soft_decline_after">
        <observer name="amazon_payment_soft_decline_email" instance="Amazon\Payment\Observer\SoftDeclinedEmailSender" />
    </event>
    <event name="amazon_payment_pending_authorization_hard_decline_after">
        <observer name="amazon_payment_hard_decline_email" instance="Amazon\Payment\Observer\HardDeclinedEmailSender" />
    </event>
</config>
