<?xml version="1.0"?>
<!--
/**
 * Copyright © Amazon.com, Inc. or its affiliates. All Rights Reserved.
 *
 * Licensed under the Apache License, Version 2.0 (the "License").
 * You may not use this file except in compliance with the License.
 * A copy of the License is located at
 *
 *  http://aws.amazon.com/apache2.0
 *
 * or in the "license" file accompanying this file. This file is distributed
 * on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either
 * express or implied. See the License for the specific language governing
 * permissions and limitations under the License.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="amazon_payment" translate="label" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                <field id="api_version" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Amazon Pay Product Version</label>
                    <source_model>Amazon\PayV2\Model\Config\Source\ApiVersion</source_model>
                    <config_path>payment/amazon_payment/api_version</config_path>
                </field>
                <field id="simplepath" type="text" translate="label comment" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <depends>
                        <field id="payment/us/amazon_payment/api_version">1</field>
                    </depends>
                </field>
                <group id="credentials" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <field id="note_v2" type="note" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label></label>
                        <frontend_model>Amazon\PayV2\Block\Adminhtml\System\Config\Form\Note</frontend_model>
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">2</field>
                        </depends>
                    </field>
                    <field id="active" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Amazon Pay</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amazon_payment/active</config_path>
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">1</field>
                        </depends>
                    </field>
                    <field id="active_v2" translate="label" type="select" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Amazon Pay</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amazon_payment_v2/active</config_path>
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">2</field>
                        </depends>
                    </field>
                    <field id="private_key" translate="label comment" type="textarea" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Private Key</label>
                        <config_path>payment/amazon_payment_v2/private_key</config_path>
                        <frontend_model>Amazon\PayV2\Model\Config\Form\Privatekey</frontend_model>
                        <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">2</field>
                        </depends>
                        <validate>validate-private-key</validate>
                    </field>
                    <field id="public_key_id" translate="label comment" type="text" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Public Key ID</label>
                        <config_path>payment/amazon_payment_v2/public_key_id</config_path>
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">2</field>
                        </depends>
                        <validate>validate-amzn-public-key-id</validate>
                    </field>
                    <field id="merchant_id_v2" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Merchant Id</label>
                        <config_path>payment/amazon_payment_v2/merchant_id</config_path>
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">2</field>
                        </depends>
                        <validate>validate-amzn-merchant-id</validate>
                    </field>
                    <field id="store_id" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Store Id</label>
                        <comment><![CDATA[Referred as clientId in SellerCentral.]]></comment>
                        <config_path>payment/amazon_payment_v2/store_id</config_path>
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">2</field>
                        </depends>
                        <validate>validate-amzn-store-id</validate>
                    </field>
                    <field id="ipn_url_v2" type="note" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>IPN URL</label>
                        <frontend_model>Amazon\PayV2\Block\Adminhtml\System\Config\Form\IpnUrl</frontend_model>
                        <comment><![CDATA[Add this url in SellerCentral to enable IPN.]]></comment>
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">2</field>
                        </depends>
                    </field>
                    <!-- hide -->
                    <field id="merchant_id" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">1</field>
                        </depends>
                    </field>
                    <field id="client_id" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">1</field>
                        </depends>
                    </field>
                    <field id="access_key" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">1</field>
                        </depends>
                    </field>
                    <field id="secret_key" translate="label" type="obscure" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">1</field>
                        </depends>
                    </field>
                    <field id="client_secret" translate="label comment" type="obscure" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="1">
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">1</field>
                        </depends>
                    </field>
                    <field id="credentials_json" translate="label" type="textarea" sortOrder="55" showInDefault="1" showInWebsite="1" showInStore="1">
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">1</field>
                        </depends>
                    </field>
                    <field id="js_origin" translate="label" sortOrder="80" showInDefault="1" showInWebsite="1" showInStore="1">
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">1</field>
                        </depends>
                    </field>
                    <field id="redirect_url" translate="label" sortOrder="90" showInDefault="1" showInWebsite="1" showInStore="1">
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">1</field>
                        </depends>
                    </field>
                    <field id="ipn_url" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">1</field>
                        </depends>
                    </field>
                </group>
                <group id="options" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Options</label>
                    <field id="payment_action_v2" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Payment Action</label>
                        <source_model>Amazon\PayV2\Model\Config\Source\PaymentAction</source_model>
                        <config_path>payment/amazon_payment_v2/payment_action</config_path>
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">2</field>
                        </depends>
                    </field>
                    <field id="active" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <!-- moved to credentials -->
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">0</field>
                        </depends>
                    </field>
                    <!-- hide -->
                    <field id="payment_action" translate="label" type="select" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">1</field>
                        </depends>
                    </field>
                    <field id="lwa_enabled" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">1</field>
                        </depends>
                    </field>
                    <field id="v2_lwa_enabled" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Amazon Sign-in</label>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amazon_payment_v2/lwa_enabled</config_path>
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">2</field>
                        </depends>
                        <comment><![CDATA[Please note that if Amazon Sign-in is disabled and Magento Guest Checkout is disabled, the customer will be able to use Amazon Pay only if already signed in with a Magento account]]></comment>
                    </field>
                    <field id="update_mechanism" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="0" showInStore="0">
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">1</field>
                        </depends>
                    </field>
                </group>
                <group id="alexa" translate="label" type="text" sortOrder="25" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Alexa Notifications</label>
                    <field id="active" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Enable Alexa Notifications</label>
                        <comment><![CDATA[Once enabled, Amazon Pay will deliver Alexa notifications to the customer’s Alexa device, when the order is ‘out for delivery' and when it’s 'delivered'. <a href="https://developer.amazon.com/docs/alexa/amazon-pay-alexa/amazon-pay-apis-for-alexa.html#delivery-notifications" target="_blank">Click here</a> for the customer experience.]]></comment>
                        <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                        <config_path>payment/amazon_payment_v2/alexa_active</config_path>
                    </field>
                    <depends>
                        <field id="payment/us/amazon_payment/api_version">2</field>
                    </depends>
                </group>
                <group id="advanced" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Advanced</label>
                    <field id="version">
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">1</field>
                        </depends>
                    </field>
                    <field id="version_v2" type="text" translate="label comment" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                        <frontend_model>Amazon\PayV2\Block\Adminhtml\System\Config\Form\Version</frontend_model>
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">2</field>
                        </depends>
                    </field>
                    <group id="frontend" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Frontend</label>
                        <field id="display_language" translate="label comment" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <depends>
                                <field id="payment/us/amazon_payment/api_version">1</field>
                            </depends>
                        </field>
                        <field id="button_color" translate="label" type="select" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="0">
                            <depends>
                                <field id="payment/us/amazon_payment/api_version">1</field>
                            </depends>
                        </field>
                        <field id="button_size" translate="label" type="select" sortOrder="50" showInDefault="1" showInWebsite="1" showInStore="0">
                            <depends>
                                <field id="payment/us/amazon_payment/api_version">1</field>
                            </depends>
                        </field>
                        <field id="amazon_login_in_popup" translate="label comment" type="select" sortOrder="60" showInDefault="1" showInWebsite="1" showInStore="1">
                            <depends>
                                <field id="payment/us/amazon_payment/api_version">1</field>
                            </depends>
                        </field>
                        <field id="button_color_v2" translate="label" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Button Color</label>
                            <config_path>payment/amazon_payment_v2/button_color</config_path>
                            <source_model>Amazon\PayV2\Model\Config\Source\ButtonColor</source_model>
                            <depends>
                                <field id="payment/us/amazon_payment/api_version">2</field>
                            </depends>
                        </field>
                    </group>
                    <group id="shipping_restrictions" translate="label" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                        <label>Shipping Restrictions</label>
                        <depends>
                            <field id="payment/us/amazon_payment/api_version">2</field>
                        </depends>
                        <field id="po_boxes" translate="label comment" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Restrict PO Boxes</label>
                            <comment><![CDATA[Marks PO box addresses in US, CA, GB, FR, DE, ES, PT, IT, AU as restricted]]></comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/amazon_payment_v2/shipping_restrict_po_boxes</config_path>
                        </field>
                        <field id="packstations" translate="label comment" type="select" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Restrict Packstations</label>
                            <comment><![CDATA[Marks packstation addresses in DE as restricted]]></comment>
                            <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                            <config_path>payment/amazon_payment_v2/shipping_restrict_packstations</config_path>
                        </field>
                    </group>
                    <group id="sales_options">
                        <field id="restrict_categories" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="0" showInStore="0">
                            <label>Restrict Product Categories</label>
                            <config_path>payment/amazon_payment_v2/restrict_categories</config_path>
                            <frontend_model>Amazon\PayV2\Block\Adminhtml\System\Config\Form\RestrictCategories</frontend_model>
                            <depends>
                                <field id="payment/us/amazon_payment/api_version">2</field>
                            </depends>
                        </field>
                    </group>
                    <group id="extra_options" translate="label" type="text" sortOrder="40" showInDefault="1" showInWebsite="1" showInStore="1">
                        <field id="checkout_review_url" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Checkout review URL</label>
                            <comment><![CDATA[Amazon Pay will redirect to this URL after the buyer selects their preferred payment instrument and shipping address.]]></comment>
                            <config_path>payment/amazon_payment_v2/checkout_review_url</config_path>
                            <validate>validate-secure-url</validate>
                            <depends>
                                <field id="payment/us/amazon_payment/api_version">2</field>
                            </depends>
                        </field>
                        <field id="checkout_result_url" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="1">
                            <label>Checkout result URL</label>
                            <comment><![CDATA[Amazon Pay will redirect to this URL after completing the transaction.]]></comment>
                            <config_path>payment/amazon_payment_v2/checkout_result_url</config_path>
                            <validate>validate-secure-url</validate>
                            <depends>
                                <field id="payment/us/amazon_payment/api_version">2</field>
                            </depends>
                        </field>
                        <field id="loglist_v2" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                            <label>Developer Logs</label>
                            <depends>
                                <field id="logging">1</field>
                                <field id="payment/us/amazon_payment/api_version">2</field>
                            </depends>
                            <frontend_model>Amazon\PayV2\Block\Adminhtml\System\Config\Form\DeveloperLogs</frontend_model>
                        </field>
                        <field id="loglist" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="0" showInStore="0">
                            <depends>
                                <field id="payment/us/amazon_payment/api_version">1</field>
                            </depends>
                        </field>
                        <field id="allowed_ips">
                            <depends>
                                <field id="payment/us/amazon_payment/api_version">1</field>
                            </depends>
                        </field>
                        <field id="allowed_ips_v2" translate="label comment" type="text" sortOrder="20" showInDefault="1" showInWebsite="1" showInStore="0">
                            <label>Allowed IPs</label>
                            <comment><![CDATA[Comma separated. The “Amazon Pay" button will only be rendered for clients having the above IPs. If the field is empty, the buttons will be visible to all clients.]]></comment>
                            <config_path>payment/amazon_payment_v2/allowed_ips</config_path>
                            <backend_model>Magento\Developer\Model\Config\Backend\AllowedIps</backend_model>
                            <depends>
                                <field id="payment/us/amazon_payment/api_version">2</field>
                            </depends>
                        </field>
                    </group>
                </group>
            </group>
        </section>
    </system>
</config>
